[Desktop Entry]
Encoding=UTF-8
Version=1.1
Name=SSTE
GenericName=Secure Simple Text Editor
Comment=Simple text editor that reads and saves GnuPG symmetric encripted files
Exec=sste
Icon=sste
Type=Application
Categories=Utility;

